body{
    background-color: black;
    color:bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 2px;
    border-bottom: solid 2px blueviolet;
padding: 25px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px;
    border-bottom: 3px yellowgreen;
    padding: 5px;
}