body{
    background-color: black;
    color:bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
header{
    border-radius: 2px;
    border-bottom: solid 2px blueviolet;
padding: 25px;
}